<div class="container mt-4">
  <h4 class="mb-4">Listado de Atenciones Registradas</h4>

  <table id="tabla-atenciones"  class="table table-striped table-bordered">
    <thead class="table-success">
      <tr>
        <th>ID</th>
        <th>Empleado</th>
        <th>Centro de Costos</th>
        <th>Tipo de Atenci칩n</th>
        <th>Motivo</th>
        <th>Observaci칩n</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody id="tablaAtenciones">
      <!-- Se cargar치 din치micamente -->
    </tbody>
  </table>

  <div id="mensajeError" class="text-danger mt-3"></div>
</div>

